*{
margin:0;
padding:0;
/* font-family: 'Chilanka', cursive; */
/* font-family: 'Fredoka One', cursive; */
font-family: 'Bree Serif', serif;
}

#navbar{
    display: flex;
}

#logo{
    margin:8px 25px;
    /* display: inline; */
    /* border:2px solid red; */
}

#logo img{
    height:80px;
    margin:5px 10px;
    border-radius: 50%;
}


#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
}

#navbar{
    /* font-family: 'Chilanka', cursive; */
    /* border: 2px solid red; */
    position: relative;
}
#navbar ul{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    /* justify-content: center; */
}
#navbar ul li{
    /* border: 2px solid red; */
    list-style: none;
    font-size: 1.3rem;
    /* display: block; */
    margin: 25px;
    /* list-style: none; */
    /* border-radius: 20px; */
}

#navbar ul li:hover{
    /* background-color: orange; */
}

#navbar ul li a{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    display: block;
    /* border: 2px solid red; */
    border-radius: 40px;
    text-decoration: none;
    padding:5px 15px;
    /* margin: 5px; */
}
#navbar ul li a:hover{
    background-color:rgb(245, 167, 167);
    /* color: black; */
}

#home::before{
    content: "";
    background: url("apple.jpg") no-repeat center center/cover;
    position: absolute;
    /* border:2px solid blue; */
    top:0;
    left:0;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home{
    display: flex;
    flex-direction: column;
    /* border:2px solid yellow; */
    align-items: center;
    justify-content: center;
    height: 480px;
    color: rgb(251, 251, 251);
}
.h1-heading{
    font-family: 'Chilanka', cursive;
    font-size: 4rem;
    padding: 30px;
}
.h2-heading{
    font-family: 'Chilanka', cursive;
    font-size: 1.5rem;
    padding: 10px;
}
.center{
    text-align: center;
}
.para{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 3px;
}
.btn{
    padding: 5px 20px;
    font-family: 'Chilanka', cursive;
    font-size: 1.3rem ;
    margin: 25px;
    border: 2px solid rgb(243, 165, 165);
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    /* color: whi; */
    /* background-color: rgb(241, 210, 210); */
}

#services{
    padding: 0 40px;
    /* display: flex; */
    /* border:2px solid red; */
}
#services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}
.fruit-images{
    height: 180px;
    margin: auto;
    display: block;
}
.box{
    border: 2px solid rgb(241, 182, 182);
    border-radius: 23px;
    /* height: 300px; */
    background-color: rgb(231, 231, 231);
    padding: 15px 20px;
    margin:5px 5px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-container h1{
    color: rgb(143, 120, 243);
    margin:20px;
    position: relative;
}
.client-logo{
    height:100px;
    display: block;
    padding: 5px;
    margin: 10px;
}


#client-container::before{
    content:"";
    background: url("orange.jpg") no-repeat center center/cover;
    position: absolute;
    /* border:2px solid blue; */
    /* top:0; */
    /* left:0; */
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#contactus-container::before{
    content: "";
    background: url("raspberry.jpg") no-repeat center center/cover;
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
#contactus-container{
    /* border: 2px solid blue; */
    margin-top: 80px;
    /* margin-bottom: 0px; */
}
#contact-us{
    
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

#contact-us div{
    margin-bottom:5px;
    /* border: 2px solid rgb(47, 0, 255); */
    width: 40%;
}
#contact-us input, #contact-us textarea{
    /* height: 30px; */
    width: 100%;
    padding: 0.3rem;
    /* color:red; */
}
#contact-us label{
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer div{
    display: block;
    
    margin: auto;
    /* border: 2px solid red; */

}
#footer{
    display: flex;
    color: white;
    height: 50px;
    font-size: 1.1rem;
    background-color: black;
    
}

